[submodule "reference/pi"]
	path = reference/pi
	url = https://github.com/earendil-works/pi.git
[submodule "reference/pi-coding-agent"]
	path = reference/pi-coding-agent
	url = https://github.com/dnouri/pi-coding-agent
