[submodule "reference/claude-agent-sdk-python"]
	path = reference/claude-agent-sdk-python
	url = git@github.com:anthropics/claude-agent-sdk-python.git
[submodule "reference/claude-hud"]
	path = reference/claude-hud
	url = git@github.com:jarrodwatts/claude-hud.git
[submodule "reference/superpowers"]
	path = reference/superpowers
	url = https://github.com/obra/superpowers.git
